<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.svk-team.encx-cli.queue-flush</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.svk-team.encx-cli</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>encx-cli</string>
			</array>
		</dict>
	</array>
	<key>ENKAPPAptabaseAppKey</key>
	<string>$(ENKAPP_APTABASE_APP_KEY)</string>
	<key>ENKAPPAptabaseHost</key>
	<string>$(ENKAPP_APTABASE_HOST)</string>
	<key>ENKAPPGlitchtipDSN</key>
	<string>$(ENKAPP_GLITCHTIP_DSN)</string>
	<key>ENKAPPTelemetryEnvironment</key>
	<string>$(ENKAPP_TELEMETRY_ENVIRONMENT)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
